body {
    background: url("images/dark_wood.png") repeat;
    /*background-position: 0% 0%;*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1em;
    color: whitesmoke;
}
nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: black;
    z-index: 1;
}
nav ul {
    padding-left: 0;
    padding-right: 0;
    padding-top: .5em;
    padding-bottom: .5em;
    margin: 0;
}
nav li {
    display: inline;
    padding: 0;
    margin: 0;
}
main {
    position: relative;
    width: 80%;
    height: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 15%;
    z-index: 0;
    box-sizing: border-box;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;   
    font-weight: normal;
    font-size: .75em;
    padding: 0;
    margin: 0;
    background-color: black;
    z-index: 1;
}
a {
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
}
a:hover {
    color: cornflowerblue;
}
hr {
    width: 15%;
    color: whitesmoke;
}
img {
    padding: 0;
    margin: 0;
}
.spacer {
    height: 75px;
}
.flip-card {
    margin: auto;
    background-color: transparent;
    width: 220px;
    height: 120px;
    perspective: 1000px;
    display: inline-block;
}
.flip-card a:hover {
    color: whitesmoke;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    -moz-transition: transform 0.8s;
    -ms-transition: transform 0.8s;
    -webkit-transition: transform 0.8s;
    transition: transform 0.8s;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner, .flip-card:active .flip-card-inner {
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    /*z-index: 2;*/
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-back {    
    background-color: cornflowerblue;
    color: whitesmoke;
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotateY(180deg);
    /*z-index: 1;*/
}
#name {
    font-family: 'Fondamento', cursive;
    font-weight: bold;
    font-size: 2.1em;
    color: cornflowerblue;
    animation-name: name;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes name {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
#links {
    margin: auto auto;
    width: 100%;
}
#linkedin {
    animation-name: linkedin;
    animation-delay: 0s;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}
@keyframes linkedin {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
#github {
    animation-name: github;
    animation-delay: 0s;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}
@keyframes github {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
#projects {
    margin: auto auto;
    width: 100%;
}
#projects img {
    width: 45%;
}
#projects img:hover, #projects img:active{
    transform: scale(1.75);
    transition: all 1.5s ease-in-out;
    overflow: hidden;
}

#projects h3 {
    padding: 0;
    margin: 0;
}
#projects p {
    padding-bottom: 0px;
    padding-top: 0px;
    display: block;
    text-align: center;
}
